@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0); } }

@keyframes slidetitulo {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(100%, 0); } }

@keyframes girologo {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

main {
  background-image: linear-gradient(to bottom, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
  width: 100%;
  padding-top: auto;
  margin: 0 auto; }

a {
  font-size: 1.3em;
  font-weight: bold; }

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #c4c4c4;
  font-size: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 32rem; }

h2 {
  display: flex;
  text-align: center;
  color: #f2f2f2;
  background-color: #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  font-size: 3em; }

h3 {
  font-size: 3em; }

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row; }
  .logo {
    margin-left: 0;
    height: 6rem;
    width: 12rem; }
  .botonwpp {
    margin-right: 0;
    padding: 1rem 1rem; } }

@media screen and (max-width: 480px) {
  main {
    background-color: #c4c4c4; }
  .titulo h1 {
    font-size: 3em; } }

nav {
  background-color: #747474; }

.menu {
  font-size: 2em; }
  .menu li {
    padding: 0 1rem;
    text-align: center;
    width: max-content;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4rem;
    transition: all 0.3s ease 0s; }
    .menu li:hover {
      background-color: #000; }

.navbar-nav {
  align-items: center; }

.panel {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
  background-color: #747474;
  margin-top: 2rem;
  border-radius: 2rem;
  align-items: center;
  width: 80%; }
  .panel li {
    padding: 0 1rem;
    text-align: center;
    width: max-content;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4rem;
    transition: all 0.3s ease 0s; }
    .panel li:hover {
      background-color: #000; }
  .panel a {
    cursor: pointer;
    text-decoration: none;
    color: #c4c4c4; }

@media screen and (max-width: 768px) {
  .panel a {
    font-size: 0.5em; } }

/* FORMATO FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 100%; }
  .footer__contactos {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    background-color: #757575;
    padding: 10px;
    margin-top: 20px; }
    .footer__contactos a {
      text-decoration: none;
      color: #000; }

.container-boton {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 4rem;
  right: 4rem;
  transition: ease 0.3s;
  animation: efecto 1.2s infinite; }
  .container-boton:hover {
    transform: scale(1.1);
    padding: 0.5rem; }

.boton {
  width: 50px;
  transition: ease 1s; }

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #FFFFFF;
  background: linear-gradient(to bottom, #000, #747474);
  height: 10rem;
  margin-top: 9rem; }
  .titulo h1 {
    padding: 0 4rem;
    font-size: 4em; }
  .titulo span {
    margin-left: 8rem;
    font-size: 2em; }

@media screen and (max-width: 430px) {
  .titulo h1 {
    font-size: 2em; }
  .titulo span {
    font-size: 1.3em; } }

.redes, .redes--backcolor, .social--backcolor {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-around; }
  .redes p, .redes--backcolor p, .social--backcolor p {
    font-size: 2em;
    margin: 1rem; }
  .redes--backcolor {
    background-color: #f2f2f2; }
  .redes img:hover, .redes--backcolor img:hover, .social--backcolor img:hover {
    transition: 2s;
    transform: rotateY(360deg); }
  .redes ul, .redes--backcolor ul, .social--backcolor ul {
    display: flex;
    margin: 1rem; }

.social {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: #757575; }
  .social p {
    font-size: 2em;
    margin: 1rem; }
  .social--backcolor {
    background-color: #f2f2f2; }
  .social img:hover {
    transition: 2s;
    transform: rotateY(360deg); }
  .social ul {
    display: flex;
    margin: 1rem; }

.map {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }

/* FORMATO CONTACTO */
.formulario {
  position: relative;
  width: 100%;
  min-height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

.form {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px black;
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 10rem;
  margin-left: 10rem;
  min-width: 25rem; }
  .form__contact {
    display: flex;
    flex-direction: column;
    padding: 2.3rem 2.2rem;
    position: relative;
    background-image: linear-gradient(120deg, #333, #000) !important;
    position: relative;
    color: #FFFFFF; }
  .form__info {
    display: flex;
    flex-direction: column;
    padding: 2.3rem 2.2rem;
    position: relative;
    justify-content: space-between; }
    .form__info p {
      font-size: 1.3em; }
    .form__info_redes {
      display: flex;
      flex-direction: column;
      margin-top: 4rem;
      align-items: center; }
    .form__info__contact {
      display: flex;
      flex-direction: column;
      margin-left: 4rem; }
      .form__info__contact a {
        margin-top: 1rem;
        text-decoration: none;
        color: #000;
        cursor: pointer; }

.container form {
  display: flex;
  flex-direction: column;
  margin: 2rem; }

.container form input {
  margin: 1rem;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s; }

.input__text {
  min-height: 15rem; }

.input__boton {
  width: max-content; }

.input__boton:hover {
  background-color: #747474; }

@media screen and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column; }
    .form__info {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.service {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  .service__card {
    display: flex;
    width: 32rem;
    height: 48rem;
    margin: 2rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    text-align: center; }
    .service__card:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: scale(1.1, 1.1); }
    .service__card img {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      object-fit: cover; }
    .service__card a {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      color: white;
      background-color: #000;
      text-decoration: none; }

.nosotros {
  background-color: #747474;
  text-align: justify;
  color: #f2f2f2; }
  .nosotros h3 {
    padding: 0 4rem; }
  .nosotros span {
    padding: 0 6rem;
    font-size: 2em;
    display: inline-block; }
  .nosotros p {
    padding: 0 8rem;
    margin: 1rem;
    font-size: 1.3em; }
  .nosotros__info {
    margin: 1rem; }

.galeria {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  background-color: #747474;
  max-width: 48rem;
  max-height: 48rem;
  margin: 0 auto;
  margin-top: 1rem; }
  .galeria__img {
    transition: 1s; }
    .galeria__img:hover {
      transform: scale(1.2, 1.2); }
    .galeria__img:nth-of-type(1) {
      grid-column: 1 / 7; }
    .galeria__img:nth-of-type(2) {
      grid-column: 7 / 13; }
    .galeria__img:nth-of-type(3) {
      grid-column: 1 / 5;
      grid-row: 2; }
    .galeria__img:nth-of-type(4) {
      grid-column: 5 / 9;
      grid-row: 2; }
    .galeria__img:nth-of-type(5) {
      grid-column: 9 / 13;
      grid-row: 2 / 4; }
    .galeria__img:nth-of-type(6) {
      grid-column: 1 / 9; }
    .galeria__img img {
      width: 100%;
      height: 100%; }

@media screen and (max-width: 992px) {
  .service {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .service__card {
      display: flex;
      width: 70%;
      margin: 0.4rem;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      transition: all 0.25s;
      height: 15rem;
      text-align: center; }
      .service__card a {
        width: 100%; } }

@media screen and (max-width: 480px) {
  .galeria {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    background-color: #747474;
    max-width: 48rem;
    max-height: max-content;
    margin: 0 auto;
    margin-top: 1rem; }
    .galeria__img img {
      width: 100%;
      height: 100%; }
    .galeria__img:nth-of-type(1) {
      grid-column: 1 / 7; }
    .galeria__img:nth-of-type(2) {
      grid-column: 7 / 13; }
    .galeria__img:nth-of-type(3) {
      grid-column: 1 / 7;
      grid-row: 3; }
    .galeria__img:nth-of-type(4) {
      grid-column: 7 / 13;
      grid-row: 3; }
    .galeria__img:nth-of-type(5) {
      grid-column: 1 / 13;
      grid-row: 2; }
    .galeria__img:nth-of-type(6) {
      grid-column: 1 / 13; } }

.galeria {
  padding: 4rem 0; }

.portfolio-box {
  position: relative;
  width: 100%;
  height: 15.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem; }
  .portfolio-box img {
    width: 100%;
    height: 100%; }
  .portfolio-box .portfolio-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; }
    .portfolio-box .portfolio-info .caption {
      text-align: center;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .portfolio-box .portfolio-info .caption h4 {
        text-transform: uppercase;
        display: block; }
  .portfolio-box:hover img {
    transform: scale(1.5);
    transition-duration: 1s;
    transition-property: all; }
  .portfolio-box:hover .portfolio-info {
    opacity: 1;
    visibility: visible;
    transition-duration: 1s;
    transition-property: all; }

@media screen and (max-width: 767px) {
  .row {
    display: flex;
    justify-content: center; } }

.corpocard {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  margin-top: 4rem; }
  .corpocard__card {
    background-color: #c4c4c4;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 1rem 1rem;
    margin-top: 4rem; }

.socialcard {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  margin-top: 4rem; }
  .socialcard__card {
    background-color: #c4c4c4;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    box-shadow: 1rem 1rem;
    margin-top: 4rem; }
    .socialcard__card__content {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem; }
      .socialcard__card__content__img {
        display: flex;
        justify-content: center; }
        .socialcard__card__content__img img {
          width: 100%;
          max-width: 25rem;
          border-radius: 2rem;
          object-fit: cover;
          box-shadow: 0 0 1.3rem 1px black; }
      .socialcard__card__content__info {
        background-color: #f2f2f2;
        border-radius: 2rem;
        box-shadow: 0 0 1.3rem 1px black; }
        .socialcard__card__content__info h4 {
          font-size: 3em; }
        .socialcard__card__content__info p {
          font-size: 1.3em; }

.reverse {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  flex-direction: row-reverse; }

@media screen and (max-width: 767px) {
  .socialcard__card__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .socialcard__card__content img {
      width: none; }
  .row > * {
    width: auto;
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y); } }
