nav {
 
    background-color: map-get($colors , color-principal );
       }


.menu li {
          padding: 0 1rem;
          text-align: center;
          width: max-content;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.3s ease 0s;
       
      

            &:hover {
                border-radius: 2rem;
                background-color: map-get($colors , color-dark );
 
 
            }
}

.navbar-nav {
 align-items: center;
}

