.titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #000, #747474);
    height: 10rem; 
    margin-top: 9rem;
    

 
 
    h1 {
        padding: 0 $spacing-small;
        font-size: $text-title;
    }
 
 
    span {
    margin-left: $spacing-large;
    font-size: $text-medium;
    }

}


//  RESPONSIVE RULES

@media screen and (max-width: 430px ) {

    .titulo {
    
        h1 {
            font-size: $text-medium;
        }    

        span {
            font-size: $text-small;
        }

    }

}