// Font-family
$font-links: 'Open Sans', sans-serif;
$font-principal: 'comfortaa';
$font-secondary: 'Roboto';


// Font Size

$text-small:1.3em;
$text-medium:2em;
$text-title:4em;

// Spacings

$spacing-small: 1rem;
$spacing-medium:2rem;
$spacing-large:3rem;


// Background
$background-principal:linear-gradient(to bottom, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);

// COLORES
$colors: (
    
    color-principal: #747474,
    color-secondary: #c4c4c4,
    color-light: #f2f2f2,
    color-dark: #000,
    color-wpp: #2e6329,

)


